@import '../../styling/base/variables.scss';

.movie_detail {
    position: relative;

    .back {
        display: flex;
        align-items: center;
        position: absolute;
        font-weight: 500;
        top: -2rem;
        left: 0;
        z-index: 1;
        font-size: 1.1rem;
        transition: all 0.2s ease-in-out;
        
        svg {
            margin-right: 0.5rem;
            transition: all 0.2s ease-in-out;
        }
        
        &:hover {
            color: $accent-color;
            
            svg {
                margin-right: 0.8rem;
                margin-left: -0.3rem;
            }
        }
    }

    &__backdrop {
        width: calc(100% + 4rem);
        height: calc(40vh + 4rem);
        transform: translate(-2rem, -4rem);
        @media (min-width: 50rem) {
            height: calc(50vh + 4rem);
        }

        img {
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 100%;
        }
    }

    &__core {
        display: flex;
        margin-top: -2rem;
        flex-direction: column;
        @media (min-width: 55rem) {
            flex-direction: row;
        }
        
        &__img {
            position: relative;
            width: 70%;
            @media (min-width: 55rem) {
                width: 30%;
            }
            
            img {
                border-radius: 8px;
                position: relative;
                top: -15rem;
                box-shadow: 0 0 25px $black-shadow-color;
                @media (min-width: 55rem) {
                    position: absolute;
                }
            }
        }

        &__text {
            width: 100%;
            position: relative;
            margin-top: -12rem;
            @media (min-width: 55rem) {
                margin-top: 0;
                margin-left: 3rem;
                margin-right: 2rem;
                width: 70%;
            }

            &__title {
                margin-bottom: 1.5rem;

                h1 {
                    font-size: 3.5rem;
                    font-weight: 700;
                    padding-right: 12rem;
                }

                p {
                    font-size: 1.75rem;
                    font-weight: 500;
                    color: $accent-color;
                }
            }

            &__rating {
                position: absolute;
                top: 1rem;
                right: 0;

                .rating {
                    font-size: 1.75rem;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 1rem;
                        color: $accent-color;
                    }

                    .count {
                        font-size: 1rem;
                        align-self: flex-end;
                        margin-bottom: 0.4rem;
                        margin-left: 0.5rem;
                        color: $accent-color;
                    }
                }
            }

            &__info {
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                &__genres {
                    display: flex;
                    flex-wrap: wrap;
                    
                    &__genre {
                        margin-right: 0.75rem;
                        margin-bottom: 0.5rem;
                        padding: 0.3rem 1rem;
                        background-color: $accent-color;
                        border-radius: 8px;
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }

                &__extra {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        margin-right: 1rem;
                        font-size: 1.1rem;
                        font-weight: 500;

                        &::before {
                            content: '-';
                            margin-right: 0.75rem;
                        }

                        &:first-of-type {

                            &::before {
                                content: '';
                                margin-right: 0;
                            }
                        }
                    }
                }

            }
        }
    }
}