$black-color: #02050f;
$black-shadow-color: #02050f4b;
$dark-color: #030919;
$white-color: #ffffff;
$grey-color: #3f4b74;
$grey-shadow-color: #3f4b7441;
$accent-color: #bc0404;
$accent-shadow-color: #bc040452;
