@import '../../styling/base/variables.scss';

.tags {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;

    &__item {
        background-color: $grey-color;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        margin: 0.5rem;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $accent-color;
        }
    }
}